Options -Indexes
Options +FollowSymlinks

<IfModule mod_rewrite.c>
	RewriteEngine On

#Force WWW
#	RewriteCond %{HTTP_HOST} !^www
#	RewriteRule (.*) http://www.%{HTTP_HOST}/$1 [L,R=301]

#No WWW
	RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
	RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# If installed in root without setting DOCUMENT_ROOT:
	#RewriteBase	/dealhangat/

# If installed in local or under a path say /dev1base/: (otherwise, doesn't need RewriteBase)
	RewriteBase	/

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f

	RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>

# gzip
<IfModule mod_deflate.c>
    	AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript text/css text/html
</IfModule>

