app/tmp/
app/media/
app/webroot/img/big_thumb
app/webroot/img/medium_thumb
app/webroot/img/medium_big_thumb
app/webroot/img/micro_thumb
app/webroot/img/small_big_thumb
app/webroot/img/small_thumb
app/webroot/img/normal_thumb
app/webroot/cache/
app/webroot/img/facebook/
app/webroot/img/original/AffiliateWidgetSize/
app/config/database.php
