html, body{background:url(../img/pattern.jpg) repeat left top}

#container{background:url(../img/container-bg.png) repeat-x left top; height:auto !important; height:100%; min-height:100%; margin:0 auto; position:relative; width:100%}
.content{line-height:18px; margin:0 auto; width:990px}
div.admin-content{width:990px}

div.admin-content .menu-block, .menu-block{margin:10px 0 40px -7px}

form.normal{width:98%; padding:10px; margin:0px}
form.normal div.input, form.normal div.submit{padding:5px; margin:5px}
form.normal div.input label, span.label-content{padding:3px 10px 0pt 0pt; width:153px; position:absolute; color:#666; text-align:right; font-size:13px}
div.end-date-time-block div.datepicker-content{left:50px}
form.normal div.date-time label{width:159px}
form.normal div.input-blocks div.input label{width:107px}
form.normal div.checkbox label, form.normal div.radio label{display:inline; margin:0px 0px 0px 5px; padding-right:10px; position:static; text-align:left}
form.normal div.checkbox label{width:210px}
form.normal div.required label{background:transparent url(../img/required-red.png) no-repeat scroll right 5px}
form.normal div.select div.checkbox label{background:none}
form.normal div.select select, form.normal div.text input, form.normal div.textarea textarea, form.normal div.password input{width:240px; font-size:12px; padding:5px 2px; margin:0px 5px 0px 180px; border:1px solid #ddd}
form.normal div.select select{padding:0px; width:246px; font-size:14px; height:27px}
form.normal div.input textarea{height:125px; width:240px}
form.normal div.date label+select{margin:0px 0px 0px 180px}
form.normal div.checkbox input, form.normal div.radio input{width:16px; margin:0px}
form.normal div.checkbox input, form.normal div.date label+select, form.normal div.time label+select, form.normal div.datetime label+select{margin:0px 0px 0px 180px}
form.normal div.submit input, .cancel-block a, form.subscription div.submit input{background:url("../img/submit-right.png") no-repeat scroll right top transparent; cursor:pointer; font-size:13px; width:auto; color:#333; border:0px; padding:0 5px 3px 0; font-weight:normal; height:31px; font-weight:bold}

form#UserProfileEditForm div.select span.currency{margin:0 3px 0 1px}
form#UserProfileEditForm div.date-time label{width:154px}
form#UserProfileEditForm .time-desc{margin:0 0 0 180px}
form.normal div.submit, form.normal .cancel-block, form.search-form div.submit, div.cancel-block, form.affliates-form div.submit{background:url("../img/submit-left.png") no-repeat scroll left top transparent; float:left; height:31px; margin:0 5px 0 0; padding:0 0 0 5px}
form.normal div.submit input:hover, .cancel-block a:hover, form.affliates-form div.submit input:hover{color:#00B5C8}
ul.coupon-code li input:hover, form.normal div.select select:hover, form.normal div.text input:hover, form.normal div.textarea textarea:hover, form.normal div.password input:hover, form.normal div.select select:active, form.normal div.text input:focus, form.normal div.textarea textarea:focus, form.normal div.password input:focus, form.normal div.select select:focus, form.normal div.text input:active.normal div.textarea textarea:active, form.normal div.password input:active{border:1px solid #A7BDBF}
form.normal div.error-message{color:#f06; margin:5px 0px 0px 180px; background:url(../img/icon-form-error.png) no-repeat scroll left center; padding:0 0 0 20px; text-align:left; font-size:12px}
form.normal div.error-message2{color:#f06; margin:5px 0px 0px 10px; background:url(../img/icon-form-error.png) no-repeat scroll left center; padding:0 0 0 20px; text-align:left; font-size:12px}
form div.error-message{color:#f06; background:url(../img/icon-form-error.png) no-repeat scroll left center; padding:0 0 0 20px; text-align:left; font-size:12px}

form.normal div.error input, form.normal div.error textarea, form.normal div.error select{background-color:#fff; border:1px solid #F06}
form.normal div.file input{margin:0px 0px 0px 180px}
form.normal .time-desc{margin:0 0 0 180px}
form.normal div.submit input.blogs-submit{margin:0px 0px 0px 0px; display:inline}
form.normal div.input input.bg-openid-input{background:url(../img/icon-open-id.png) no-repeat scroll 1px 5px; padding:6px 0 6px 25px; width:200px}
span.info, span.help{background:url(../img/icon-info.png) no-repeat scroll left 4px; display:block; margin-left:180px; padding:3px 2px 4px 20px; color:#AFAFAF; font-size:11px}

form.subscription{color:#FFF; padding:10px 0 10px 10px; width:340px}
.city-block .subscriptions{width:335px; float:right; margin:20px 0 0 0}
.city-block .subscriptions form.subscription{width:auto}
form.subscription div.input, form.subscription div.submit{float:left; padding:5px}
form.subscription div.submit{background:url("../img/subscrib-bg-left.png") no-repeat scroll left 5px transparent; height:31px; padding:5px 0 0 3px; float:left}
form.subscription div.input label{position:absolute; text-align:right; width:105px; margin:3px 0 0 0; color:#333; display:none}
form.subscription div.submit input{background:url(../img/subscrib-bg-right.png) no-repeat right top; height:31px; width:auto; float:left}
form.subscription div.submit input:hover{ color:#fff}
*+html form.subscription div.submit input{width:84px}
form.subscription div.input input{border:1px solid #CCC; color:#808080; margin-left:0; padding:5px; width:214px}
form.subscription div.input input:hover{border:1px solid #A0CA4E}
form.normal table.list tr td div.checkbox input, form.normal div.admin-checkbox-button div.select select, div.submit-block div.submit input{margin:0}
form.normal div.admin-select-block div.select select{margin:0px 0px 0px 10px}
form.normal div.outer-image-settings div.input{width:300px; float:left}
form.normal div.outer-image-settings div.input label{position:absolute}
form.normal div.outer-image-settings div.input input{margin:0px 0px 0px 180px; width:100px}
form.normal div.outer-image-settings div.input input.image-settings-height{margin:0px 0px 0px 0px}
form.normal div.outer-image-settings div.image-separator{width:10px}
form.normal div.admin-checkbox-button div.select{padding:5px 0; margin:0}
form.normal .two-col-form div.input, form.normal .two-col-form div.select, form.normal .calculator-block div.input, form.normal .calculator-block div.select{float:left; width:41%}

form.normal div.textarea textarea.email-content{width:500px; height:300px}
form#ContactAddForm div.textarea textarea{height:170px; width:400px}
div#users-my_stuff a.print-icon, div#deal_users-index a.print-icon{float:left; width:16px; padding:0px; text-indent:-3000em}
div#users-my_stuff td.status-0 a{margin:0px 3px}
.mceEditor{display:block; margin:40px 0 0 0}
.fromleft, .or{margin-left:190px; padding:5px 0}
.cancel-block{float:left; margin:5px; padding:5px}
.cancel-block a{float:left; height:18px; margin:0; padding:7px 10px 6px 5px}
.cancel-block a:hover{text-decoration:none}

form.normal div.captcha-block{margin:0px 10px 0px 185px}
div.captcha-block img{border:1px solid #ddd}
div.captcha-right, div.captcha-left{border:1px solid #ddd}
div.captcha-left{float:left; background:#fff; padding:5px; border-right:none}
*+html div.captcha-left{padding:4px}
div.captcha-right{width:25px; float:left; background:#EFEFEF; padding:6px 6px 9px 6px; border-left:none}
a.captcha-audio{display:block; width:22px; height:20px; background:url(../img/icon-audio.png) no-repeat left top; text-indent:-2000em; margin:2px 0 1px 2px}
a.captcha-reload{width:22px; height:20px; display:block; background:url(../img/icon-refresh.png) no-repeat left top; text-indent:-2000em; margin:2px 0 1px 2px}

.message{position:fixed; left:0; top:0; z-index:10000; width:100%; font-weight:bold; text-align:center}
div.flash-message-inner{padding:20px 50px 20px 70px}
div.flash-message-inner{position:relative}
span.flash-close{background:url("../img/close-icon.png") no-repeat scroll left top transparent; display:block; position:absolute; right:3px; text-indent:-3000em; top:3px; width:16px}
#errorMessage{background:#ffebf3; border:1px solid #FF1F1F; padding:13px 0 14px 63px}
#successMessage, .success{background:#eff; border:1px solid #6f0}
#flashMessage{background:#ffe; border:1px solid #f60}
#errorMessage, #authMessage{background:#ffebf3 url(../img/icon-error.png) no-repeat 10px center; padding:13px 0 14px 63px}
#successMessage{background:#eff url(../img/icon-success.png) no-repeat 10px center; padding:13px 0 14px 63px}
#flashMessage{background:#ffe url(../img/icon-warning.png) no-repeat 10px center; padding:13px 0 14px 63px}
.success-msg{padding:30px 0 30px 70px; margin:0 30px; font-weight:bold; background:url(../img/icon-success.png) no-repeat 10px center}
.notice{color:#F00; background:url(../img/icon-list-warning.png) no-repeat 5px center; padding:2px 2px 2px 25px}
table.list tr td.notice{text-align:left; padding-left:25px}

table.list, table.list td, table.list th{border:0px solid #F660AB}
table.topic-list td, table.topic-list th{border:none; border-bottom:0px solid #F660AB}
table.list{border-spacing:0; border-collapse:collapse; margin:5px auto; width:98%}
table.list td, table.list th{margin:0; padding:4px; border-width:1px; background-color:#fff; vertical-align:middle; text-align:center; font-size:12px}
table.list th{color:#fff; background:#DE006D}
table.list th a{color:#fff}
table.list tr.altrow td{background-color:#FFF0FF}
table.list tr:hover td{background-color:#EFFDFF}
table.list tr th.dl, table.list tr td.dl{text-align:left}
table.list tr th.dc, table.list tr td.dc{text-align:center}
table.list tr th.dr, table.list tr td.dr{text-align:right}

div.admin-content .actions-block .actions{text-align:left; top:-5px}
div#languages-admin_index div.actions{text-align:center}
table.list tr:hover td .actions{display:block}
.actions-block{float:left; position:relative}
.actions-block .actions{position:absolute; right:3px; padding:2px 5px 3px 5px; display:none; border:1px solid #DE006D; background:#F7FBFE; border-right:0; top:-5px}
div.address-block-info p{white-space:nowrap}
div.add-block1{text-align:right}
div.add-block1 a{padding:1px 2px 1px 20px}

.admin-bar{background:#00B5C8; color:#FFF; left:500px; opacity:0.8; filter:alpha(opacity=80); padding:10px; position:absolute; width:170px}
.admin-content .admin-bar{top:0px; left:40%; width:auto}
.admin-bar a{color:#fff; text-decoration:underline}
.admin-bar a:hover{text-decoration:none}
.admin-bar h3{display:inline; color:#fff; font-size:12px}
.admin-sideone{float:left; width:17%; border:2px solid #DE006D; padding:10px; margin:10px 0 0 0; background:#fff}
.admin-sidetwo{float:left; width:77%; border:2px solid #DE006D; padding:10px; background:#fff; margin:10px 0 0 10px}
div.admin-content form.normal{width:100%; margin:0px; padding:0px}
div.admin-content table.list{width:100%; font-size:11px; margin:10px auto}
ul.admin-links li.active>a, ul.admin-links li>a:hover{color:#000}
ul.admin-links li.active>a{font-weight:bold}
ul.admin-links li ul{background:#FBFDFE none repeat scroll 0 0; margin-left:0; padding:5px 0 5px 10px; margin:0px 0px 5px 0px}
ul.admin-links>li{border-bottom:1px dashed #999; margin:0px 0px 10px 0px; padding:3px 0px 3px 10px}
ul.admin-links>li.no-bor{background:none; border:none; padding:0px; margin:0px}
ul.admin-links li h4{padding:3px 5px; font-size:13px}

div.submit-update-block{margin:5px 0 5px 315px}
div.clearAll{margin:10px 0 0 0}

a.add, a.delete, a.edit, a.export, a.update, a.pending, a.approve, a.view, a.update-status{background:url(../img/icon-add.gif) 0 0 no-repeat; padding:0px 2px 3px 20px; margin-right:16px; color:#000}

div.export-block{text-align:right}
a.delete{background:url(../img/icon-delete.png) no-repeat left top}
a.edit{background:url(../img/icon-edit.png) no-repeat left top; padding:0 2px 3px 20px}
a.export{background:url(../img/icon-export.png) no-repeat left top}

a.asc{background:transparent url(../img/icon-sort-down.gif) no-repeat scroll right center}
a.desc{background:transparent url(../img/icon-sort-up.gif) no-repeat scroll right center}
a.asc, a.desc{padding-right:10px; margin-right:10px}
a.print-icon{background:url(../img/print.png) no-repeat; width:auto; height:16px; padding:0px 0px 0px 20px}

.throbber{background:url(../img/throbber.gif) no-repeat center top; padding-top:20px; width:130px; font-size:11px; text-align:center}

a.password{text-indent:1px; width:auto; padding:1px 0px 1px 20px; float:none}
.forgot-info, .info-details{background:#f9f9f9 url(../img/icon-info-details.png) no-repeat 10px center; border:1px dashed #DDD; margin:6px 10px; padding:15px 15px 15px 50px}
.forgot-info:hover, .info-details:hover{background:#fff url(../img/icon-info-details.png) no-repeat 10px center}

div.datepicker-content{position:absolute; left:5px; top:25px; border:1px solid #ddd; z-index:99999; width:185px}
.picker-img{float:left; margin:3px 3px 0 0; cursor:pointer}
div.datepicker-content a.close{width:28px; height:28px; margin:0 5px 5px 0; right:-15px; position:absolute; bottom:-15px; background:url(../img/icon-close.png) 0 0 no-repeat; text-indent:-9999em}
form.normal .ui-datepicker select.ui-datepicker-month, form.normal .ui-datepicker select.ui-datepicker-year, form.normal div.thick-box .ui-datepicker select.ui-datepicker-month, form.normal div.thick-box .ui-datepicker select.ui-datepicker-year{width:49%; margin:0px}
div.timepicker, div.datepicker-container, .date-time{position:relative}
div.timepicker{float:left; position:relative}
ul.global-links-right li{float:left; margin:3px; padding:0 2px}
.date-time label{left:0}
.displaydate{padding:1px 5px; border:1px solid #DE006D; float:left; margin:0 2px; font-size:11px}
div.displaydate a{margin-left:3px}
.timepickr{background:#FFF none repeat scroll 0 0; border:1px solid #DE006D; font-size:11px; margin:0 0; padding:3px 5px}
.paging-count{color:#7F7F7F; font-size:11px; padding:5px 0px}
.slider-content{width:955px; margin:0px auto}
ul.sort-list{margin:5px; border-bottom:1px solid #b90c65}
ul.sort-list li{float:left; margin-right:5px}
ul.sort-list li a{color:#DE006D; padding:5px; float:left; border:1px solid #FFF; border-bottom:none; font-weight:bold}
ul.sort-list li:hover a, ul.sort-list li.active a{color:#B81C6C; border:1px solid #b90c65; border-bottom:none; text-decoration:none; background:#FFF; margin-bottom:-1px}
a.approve{background:url(../img/icon-approve.png) no-repeat left top; padding:0 2px 5px 20px}
a.pending{background:url(../img/icon-pending.png) no-repeat left top}
.add-block{text-align:right; margin:5px}

div.paging{text-align:right; padding:10px}
div.admin-content div.paging{text-align:right; padding:10px 0px}
div.paging a, div.paging span{background-color:#fefefe; color:#2e6ab1; text-decoration:none}
div.paging a, div.paging span.prev, div.paging span.next, div.paging span.current{border:1px solid #00B5C8; margin:2px; padding:1px 3px}
div.paging span.prev, div.paging span.next{display:none}
div.paging span.skip{border:none}
div.paging a:hover, div.paging span.current{border:1px solid #63a4e8; background:#00B5C8; color:#fff}

div.admin-select-block div{display:inline}
div.admin-select-block div.hide{display:none}
div.admin-select-block div.select select{width:180px; margin:0px 0px 0px 0px}
div.admin-select-block{padding:10px 0px 10px 0px}
p.admin-welcome-info{font-weight:bold}
span.welcome-info a.login-link{margin:0px 3px 0px 3px}
span.welcome-info span.active a.login-link{color:#000}
div.admin-sub-header{color:#000; float:right; text-align:right; width:auto; font-size:14px; margin:14px 0px 0 0}
ul.admin-links li{margin:6px 0px 6px 0px}
ul.admin-links li a{background:url(../img/arrow1.png) no-repeat left top; background:transparent url(../img/arrow1.png) no-repeat scroll left 8px; padding:2px 0 2px 10px; font-size:12px}

label.overlabel-apply, form.normal div.overlabel-wrapper label.overlabel-apply{position:absolute; left:3px; z-index:1; color:#999; text-align:left; width:79px; font-size:11px}
form.normal div.overlabel-wrapper label.overlabel-apply{font-size:10px; background:none}

.round-5{-moz-border-radius:5px}
.round-3{-moz-border-radius:3px; -khtml-border-radius:3px; -o-border-radius:3px; border-radius:3px}
.round-10{-moz-border-radius:10px; -khtml-border-radius:10px; -o-border-radius:10px; border-radius:10px}
.round-15, .twtr-widget{-moz-border-radius:15px; -khtml-border-radius:15px; -o-border-radius:15px; border-radius:15px}
.round-15-top{-moz-border-radius:15px; border-radius:15px; -moz-border-radius-bottomleft:0px; -moz-border-radius-bottomright:0px; -webkit-border-radius-bottomleft:0px; -webkit-border-radius-bottomright:0px}
.round-5-left{-moz-border-radius-bottomleft:5px; -moz-border-radius-topleft:5px; -webkit-border-radius-bottomleft:5px; -webkit-border-radius-topleft:5px}
form.normal div.required label{background:transparent url(../img/required-red.png) no-repeat scroll right top; padding:0 10px 0 0px}

div.admin-content table.list tr td.notice{background:transparent url(../img/icon-list-warning.png) no-repeat scroll 6px center}
div.submit-block{margin:5px 0px 5px 190px}
form.search-form div.submit-block{margin:0px 0px 5px 0px}
form.normal div.submit-block div.submit input{margin:0px}
form.normal .cancel-block{float:left; margin:0px}
table.list td img{float:left; margin:0 7px 0 0; vertical-align:bottom}

form.search-form{padding:10px 0px}
form.search-form div.input, form.search-form div.select{float:left; min-height:35px; margin:0px; padding:0px; width:225px}
form.search-form div.date{width:250px}
form.search-form div.submit{float:left; width:100px}
form.search-form div.submit input{margin:0px}
form.search-form div.select select, form.search-form div.text input{width:227px; margin:0px 0px 0px 57px; height:20px}
form.search-form div.date label+select{width:100px}
form.search-form div.select select, form.search-form div.date label+select{margin:0px}
form.search-form div.input label{width:auto; position:absolute; margin:4px 0px 0px 0px}
form.search-form div.date select#Transaction_fromDay, form.search-form div.date select#Transaction_toDay{width:40px}
form.search-form div.date select#Transaction_fromYear, form.search-form div.date select#Transaction_toYear{width:55px}
form.search-form div.text{width:auto; margin:0px 8px}
div.admin-content h2{padding:10px 0px 15px 0px; font-size:18px}
div.maintance{margin:44px auto 0}

a.view-icon{background:url(../img/view.png) no-repeat left top; width:16px; height:16px; display:block; text-indent:-9999px; float:left}
div.admin-content a.view-icon{text-indent:1px; width:auto; height:auto; padding:0px 0px 0px 20px}

ul.admin-menu{float:left; width:auto}

.clearfix:after{clear:both; content:'.'; display:block; visibility:hidden; height:0}
.clearfix{display:block}
.js .hide{display:none}
* html .clearfix{height:1%}
*+html .clearfix{display:inline-block}
form.subscription{    color:#FFF;     padding:10px 0 10px 10px;     width:340px}
form.subscription div.input input{    border:1px solid #CCC;     color:gray;     margin-left:0;     padding:5px;     width:214px}
.subscription{    color:#FFF;     margin:0 auto}

#error{margin-left:10px}

*{margin:0; padding:0; font-family:Arial,Helvetica,sans-serif}
ul{margin:0; padding:0; list-style:none}
a img{border:0px; outline:none}
a{color:#de006d; text-decoration:none}
a:hover{text-decoration:underline}
body{background:url("../img/pattern.jpg") repeat}
.top_line{height:13px; background-color:#e6dcd3}
.mbg{background:url("../img/shadow.png") repeat-y center top; width:100%}
.mcont{width:1063px; margin:auto}
.warper{width:1003px; padding:0 30px; overflow:hidden}
h1{color:#e2277c; font:bold 36px Arial,Helvetica,sans-serif; line-height:43px}
h2{color:#000; font:bold 18px Arial,Helvetica,sans-serif; line-height:40px}
.f-right{float:right}
.f-left{float:left}

.header{padding:0 33px 0 33px; overflow:hidden}
.logo{background:url("../img/logo.jpg") no-repeat; width:153px; text-indent:-999px; float:left}
.logo a{display:block; height:181px}
.login_sec{width:365px; float:right; margin-top:30px; overflow:hidden}
.login_sec span{float:right; padding-left:2px;    line-height:31px; padding-right:4px; font-size: 13px;}
.number{text-align:right; color:#db006c; font:normal 12px Arial,Helvetica,sans-serif; line-height:20px; width:100%; float:right}
.but1{background:url("../img/but1.jpg") no-repeat left top; color:#FFF; display:block; font-family:Arial,Helvetica,sans-serif; font-size:12px; height:27px;   line-height:25px; width:135px; text-decoration:none; text-align:center}
.but1:hover{background:url("../img/but1.jpg") no-repeat left -27px; height:27px; text-decoration:none; color:#000; width:135px}
.but2{background:url("../img/but2.jpg") no-repeat left top; color:#FFF; display:block; font-family:Arial,Helvetica,sans-serif; font-size:12px; height:27px;   line-height:25px; width:65px; text-decoration:none; text-align:center}
.but2:hover{background:url("../img/but2.jpg") no-repeat left -27px; height:27px; text-decoration:none; color:#000; width:65px}
.but3{background:url("../img/but3.jpg") no-repeat left top; color:#FFF; display:block; font-family:Arial,Helvetica,sans-serif; font-size:14px; height:34px;   line-height:30px; width:106px; text-decoration:none; text-align:center; font-weight:bold}
.but3:hover{background:url("../img/but3.jpg") no-repeat left -34px; height:34px; text-decoration:none; color:#000; width:106px}
.but4{background:url("../img/but4.png") no-repeat left top; color:#FFF; display:block; font-family:Arial,Helvetica,sans-serif; font-size:24px; height:47px;   line-height:45px; width:189px; text-decoration:none; text-align:center; font-weight:bold}
.but4:hover{background:url("../img/but4.png") no-repeat left -47px; height:47px; text-decoration:none; color:#000; width:189px}


.menu{background-color:#e6dcd3; height:42px}
.menu ul{margin:auto; text-align:center}
.menu li{display:inline-block; color:#e23a85; font:normal Arial,Helvetica,sans-serif; line-height:45px; padding:0 30px; font-size:15px!important}
.menu li a{color:#e23a85; text-decoration:none; text-shadow:2px 0 0 #FFF}
.menu li a:hover{color:#000}
.menu li a.act{color:#000}

.banner{width:100%; border-bottom:1px solid #e8e3e3; overflow:hidden; margin-top:20px; padding-bottom:10px}
.bannerslide{width:517px; float:left}
.banner_text{width:473px; float:right; margin-top:20px}
.banner_text h1{color:#e2277c; font:bold 56px Arial,Helvetica,sans-serif; line-height:43px}
.banner_text h3{font:normal 13px Helvetica,Arial,sans-serif; padding:25px 6px; line-height:20px}

.hiw{text-align:center; margin-top:20px; width:617px; margin:auto; font:normal 14px Arial,Helvetica,sans-serif; color:#5d6163}
.hiw h1{color:#e2277c; font:bold 36px Arial,Helvetica,sans-serif; line-height:43px; padding:20px 6px 0px 5px}
.hiw h3{font:normal 13px Arial,Helvetica,sans-serif; padding:5px 6px; line-height:20px}
.howitbg{background:url(../img/howitbg.jpg) no-repeat center top; height:580px; position:relative; overflow:hidden; margin-top:20px; margin-bottom:30px}
.howitbg h2{font:bold 18px Arial,Helvetica,sans-serif; line-height:20px; color:#c36}
.getstartbut{position:absolute; width:190px; left:703px; top:94px}
.how1{position:absolute; font:normal 14px Arial,Helvetica,sans-serif; color:#666; line-height:20px; width:296px; left:177px; top:54px; height:112px; text-align:left}
.how2{position:absolute; font:normal 14px Arial,Helvetica,sans-serif; color:#666; line-height:20px; width:273px; left:143px; top:215px}
.how3{position:absolute; font:normal 14px Arial,Helvetica,sans-serif; color:#666; line-height:20px; width:273px; top:401px; left:203px}
.how4{position:absolute; font:normal 14px Arial,Helvetica,sans-serif; color:#666; line-height:20px; width:286px; left:611px; top:404px; height:150px}

.thanks{margin:auto; margin-top:25px; padding-bottom:60px; margin-bottom:35px}
.thanks h3{font:bold 27px Arial,Helvetica,sans-serif; color:#de006d; padding-left:50px; padding-right:50px}
.thanks p{font:normal 14px Arial,Helvetica,sans-serif; color:#5d6163; padding-left:50px; padding-right:50px; line-height:20px}

.reg{width:100%; overflow:hidden; margin-top:25px; padding-bottom:60px; margin-bottom:35px}
.reg h3{font:bold 27px  Arial,Helvetica,sans-serif; color:#de006d; padding-left:50px; padding-right:50px}
.reg p{font:normal 14px  Arial,Helvetica,sans-serif; color:#5d6163; padding-left:50px; padding-right:50px; line-height:20px}
.reg-left{float:left; width:608px}
.reg-left ul{background:url(../img/fimg.jpg) no-repeat right top; margin-top:50px; padding-left:50px}
.reg-left li{overflow:hidden; padding-bottom:0px}
.reg-left label{color:#de006d; font:bold 13px Arial,Helvetica,sans-serif; width:182px; float:left; line-height:33px}
.reg-left input[type="text"]{background:url(../img/form-bg.jpg) repeat; height:29px; border:1px solid #dadada; width:240px; padding-left:5px}
.reg-left input[type="password"]{background:url(../img/form-bg.jpg) repeat; height:29px; border:1px solid #dadada; width:240px; padding-left:5px}
.regbut{background:url("../img/register.jpg") no-repeat left top; color:#FFF; display:block; font-family:Arial,Helvetica,sans-serif; font-size:24px; height:38px;   line-height:40px; width:124px; text-decoration:none; text-align:center; font-weight:bold; font-size:18px}
.regbut:hover{background:url("../img/register.jpg") no-repeat left -37px; height:38px; text-decoration:none; color:#000; width:124px}
.reggender label{color:#de006d; font:bold 13px Arial,Helvetica,sans-serif; width:204px; float:left}
.reggender input[type="radio"]{float:left; width:20px}

.reg .term{font:normal 12px Arial,Helvetica,sans-serif; color:#241f20}
.reg .term a{font:normal 12px Arial,Helvetica,sans-serif; color:#296ac9; text-decoration:none}
.reg .term a:hover{font:normal 12px Arial,Helvetica,sans-serif; color:#296ac9; text-decoration:underline}

.regbutarea{width:500px; overflow:hidden}
.regbutarea span{float:right}
.regbutarea .can{width:80px}
.regbutarea .can a{color:#5d6163; font-size:12px; font-family:Arial,Helvetica,sans-serif; line-height:35px}

.reg-login{width:303px; float:left; padding-left:50px; text-align:center; color:#5d6163; font-size:14px; margin-top:350px}
.reg-login .sign, .user-login .sign{color:#241f20; font-size:12px; padding-top:10px; display:block}
.reg-login .sign a, user-login .sign a{color:#1361d5; font-size:12px; text-decoration:none}
.reg-login .sign a:hover, user-login .sign a:hover{color:#1361d5; font-size:12px; text-decoration:underline}

.reg-login .signf{color:#5d6163; font-size:14px; padding-bottom:10px; display:block}
.reg-login .signf a{color:#1361d5; font-size:14px; text-decoration:none}
.reg-login .signf a:hover{color:#1361d5; font-size:14px; text-decoration:underline}

.brand{width:100%; overflow:hidden}
.brand li{float:left; padding-right:16px}

.bot_sec{   border-top:1px solid #E8E3E3; width:100%; overflow:hidden; margin-top:20px; padding-top:20px}
.featured{width:324px; float:left; font:normal 12px Helvetica,Arial,sans-serif; line-height:16px; padding-bottom:10px; margin-right:40px; padding-right:20px}
.featured h2{    color:#000;     font:bold 18px/30px Arial,Helvetica,sans-serif}
.borderimg{ border:1px solid #F9D1E3;  height:258px;  margin-bottom:10px;  margin-right:5px !important; ;  width:321px !important;  padding:10px 4px 19px 12px !important}

.borderimg2{ border:1px solid #F9D1E3;  margin-bottom:2px;  margin-right:7px;  padding:5px;  width:301px}
.borderimg3{ border:1px solid #F9D1E3;  margin-bottom:10px;  margin-right:7px;  width:300px;  height:252px;  padding:15px 7px 19px 10px !important;  margin-left:4px}
.borderimg4{ border:1px solid #F9D1E3;  margin-bottom:10px;  margin-right:0px;  padding:5px;  width:301px;  height:258px; padding:10px 4px 19px 12px !important}
.about{width:309px; float:right; font:normal 12px Arial,Helvetica,sans-serif; color:#241f20; line-height:18px}
.nadrs{width:100px; float:left; height:36px; width:64px}
.adrs{display:block; width:300px}
.about p{margin-bottom:15px}
.cont{display:block; margin-top:10px}

#footer{border-top:1px solid #e8e3e3; color:#9fa3a4; font:normal 11px Arial,Helvetica,sans-serif; line-height:20px; margin:10px 0px}
#footer a{color:#9fa3a4; text-decoration:underline}
#footer a:hover{color:#de006d; text-decoration:underline}

.clear{clear:both}

.user-login{width:303px; float:left; padding-left:50px; text-align:center; color:#5d6163; font-size:14px; margin-top:150px}

#UserRegisterForm div.required label{    color:#DE006D;     float:left;     font:bold 13px/13px Arial,Helvetica,sans-serif;     width:204px;     text-align:left}
#UserRegisterForm label, #UserLoginForm label{color:#DE006D; font:bold 13px/13px Arial,Helvetica,sans-serif;     padding:0 0px 0 0;     text-align:left; background:none}

#UserRegisterForm input[type="text"], #UserLoginForm input[type="text"]{    border:1px solid #DDD;     font-size:12px;     margin:0 5px 0 180px;     padding:0px;     width:240px}
#UserRegisterForm input[type="password"], #UserLoginForm input[type="password"]{    border:1px solid #DDD;     font-size:12px;     margin:0 5px 0 180px;     padding:0px;     width:240px}

#UserLoginForm  div.select select, #UserLoginForm  div.text input, #UserLoginForm  div.textarea textarea, #UserLoginForm  div.password input{    border:1px solid #DDD;     font-size:12px;     margin:0 5px 0 181px}
#UserLoginForm  div.checkbox input, #UserLoginForm  div.radio input{    float:left;     margin:0;     width:16px}

#UserRegisterForm  div.select select, #UserRegisterForm  div.text input, #UserRegisterForm  div.textarea textarea, #UserRegisterForm  div.password input{    border:1px solid #DDD;     font-size:12px;     margin:0 5px 0 181px}
#UserRegisterForm  div.checkbox input, #UserRegisterForm  div.radio input{    float:left;     margin:0;     width:16px}

 input label{   margin-top:-10px}

#UserRegisterForm input[type="submit"], #UserLoginForm input[type="submit"]{   background:url("../img/register.jpg") no-repeat scroll left top transparent;     color:#FFF;     display:block;     font-family:Arial,Helvetica,sans-serif;     font-size:18px;     font-weight:bold;     height:38px;     line-height:40px;     text-align:center;     text-decoration:none;     width:124px; border:0px}
#UserRegisterForm input[type="submit"]:hover, #UserLoginForm input[type="submit"]:hover{    background:url("../img/register.jpg") no-repeat scroll left -37px transparent;  color:#000;  height:38px;  text-decoration:none;  width:124px}
#UserRegisterForm div.submit, #UserLoginForm div.submit{background:none;  float:left;  height:31px;  margin:0 5px 0 0;  padding:0 0 0 5px}
#UserRegisterForm .term div.error-message {
    margin: 21px 0 5px;
}
.test-mode-content {
    position: relative;
}
div.test-mode-left {
    float: left;
    margin-left: 180px;
    width: 265px;
}
.round-5 {
    border-radius: 5px 5px 5px 5px;
}
div.test-mode-right {
    float: left;
    width: 265px;
}
.round-5 {
    border-radius: 5px 5px 5px 5px;
}
.form-block {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    margin: 10px 0;
    padding: 10px;
}
#payment_gateways-admin_edit span.label-content {
    left: 8px;
    padding: 14px 10px 0 0;
}
span.label-content {
    left: 27px;
    padding: 0 10px 0 0;
}

form.normal div.test-mode-left div.text input {
    margin: 0;
}
form.normal div.test-mode-left div.text input, form.normal div.test-mode-right div.text input {
    margin: 0;
    width: 240px;
}
div.test-mode-left span.info, div.test-mode-left span.help {
    margin-left: 0;
}
span.info, span.help {
    background: url("../img/icon-info.png") no-repeat scroll left 4px transparent;
    color: #AFAFAF;
    display: block;
    font-size: 11px;
    margin-left: 180px;
    padding: 3px 2px 4px 20px;
}
div.test-mode-right span.info, div.test-mode-right span.help {
    margin-left: 3px;
}
a.pdf {
    background: url("../img/icon-pdf.png") no-repeat scroll left top transparent;
}

/*  Subscribe  */
.head-subs{ float:right; overflow:hidden; width:75%; text-align:right; padding:15px 0 0 0; }
.f16{ font-size:16px; font-style:italic; color:#e2277c}
.head-subs p {font-size:13px; padding:4px;line-height: 22px;}
.btn3{ display:inline-block; padding:0 0 0 5px; background:url(../img/btn3_left.jpg) left no-repeat; color:#fff;}
.btn3 span{ display:inline-block; padding:4px 10px 4px 5px; background:url(../img/btn3_right.jpg) right no-repeat}
.btn3:hover{color:#ff9dca;}

.subscribe{margin:auto;margin-top:25px;border-bottom:1px solid #e8e3e3;padding-bottom:60px;margin-bottom:35px; overflow:hidden; color:#241F20}
.subscribe h1{ font-size:27px; text-transform:uppercase; text-align:center; width:43%; margin:0 auto; padding:0}
.subscribe h2{ text-align:center; border-bottom:1px dashed #ccc; padding-bottom:10px; margin:0;}
.subs-left{ width:45%; padding-right:5%; margin-top:25px; float:left; font-size:12px; color:#241F20; border-right:1px dashed #ccc;}
.subs-left p{ margin-bottom:15px; line-height:18px;}
.subs-right{ width:48%; float:right; margin-top:25px;}
.subscribe .subs-left h2{ text-align:left; color:#E2277C; border-bottom:0px;}
.subscribe .subs-left h3{ text-align:left; }
.subs-left ul{ margin:0; padding:10px 0 0 15px}
.subs-left ul li{ margin:0; padding:3px 0 3px 15px; list-style:none; background:url(../img/arrow.jpg) left 7px no-repeat}

/*.subs-box{ background:url(../img/subs_box.jpg) no-repeat; width:416px; overflow:hidden; font-size:12px; margin-left:25px;}
*/
.subs-box {
    border: 1px solid #E43385;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    margin-left: 25px;
    min-height: 380px;
    overflow: hidden;
    padding-bottom: 15px;
    width: 416px;
}
.subs-box .sbox-left{ width:42%; padding:7% 0% 2% 8%; float:left;}
.subs-box .sbox-right{ width:42%; padding:7% 3% 2% 0%; float:right;}
.subs-box .sbox-left .p-top{ padding-top:37px;}
.subs-box .sbox-right .p-top{ padding-top:10px;}
.clear{ clear:both}
.subs-btn{ border-top:1px solid #e8e3e3; text-align:right; margin:5% 7% 0% 7%; padding-top:15px;}
.btn4{ display:inline-block; background:url(../img/btn4.jpg); width:128px; height:38px; text-align:center; color:#FFF; font-size:14px; font-weight:bold; line-height:34px;}
.btn4:hover{ text-decoration:none; color:#e2277c}
/*
.btn5{ display:inline-block; background:url(../img/btn4.jpg); width:128px; height:38px; text-align:center; color:#FFF; font-size:12px; font-weight:bold; line-height:34px; border:none; cursor:pointer}
.btn5:hover{ color:#e2277c}
*/

/*  My Account  */
.my-account{margin:auto;margin-top:25px;margin-bottom:35px; overflow:hidden; color:#241F20}
.my-account h1{ font-size:27px;}
.my-account-right{ width:70%; margin-top:25px; padding-left:3%; float:left; font-size:12px; color:#241F20;}
.my-account-right ul{ background:none;margin-top:20px; padding-left:20px;}
.my-account-right li{ overflow:hidden;padding-bottom:15px;}
.my-account-right label{ font:normal 13px Arial, Helvetica, sans-serif; width:204px;float:left;line-height:33px; }
.my-account-right input[type="text"]{ background:url(../img/form-bg.jpg) repeat; height:29px;border:1px solid #dadada; width:300px;padding-left:5px;}
.my-account-right textarea{ background:url(../img/form-bg.jpg) repeat-x; height:140px;border:1px solid #dadada; width:300px;padding-left:5px;}
.my-account-right input[type="password"]{ background:url(../img/form-bg.jpg) repeat; height:29px;border:1px solid #dadada; width:300px;padding-left:5px;}
.my-account-right select{ background:url(../img/form-bg.jpg) repeat; border:1px solid #dadada; width:306px;padding:5px 2px 5px 5px;height:31px;}
.my-account-right select.m-date, .my-account-right select.m-month, .my-account-right select.m-year{width:100px;}
.my-account-right .regbut{background:url("../img/register.jpg") no-repeat left top;color: #FFFFFF;display: block;font-family: Arial, Helvetica, sans-serif;font-size: 24px;height: 38px;   line-height: 40px; width: 124px;text-decoration:none;text-align:center;font-weight:bold; font-size:18px;}
.my-account-right .regbut:hover{background:url("../img/register.jpg") no-repeat left -37px;height:38px;text-decoration:none;color:#000; width: 124px;}
.my-account-right .reggender label{ color:#de006d; font:bold 13px Arial, Helvetica, sans-serif; width:204px; float:left;}
.my-account-right .reggender input[type="radio"]{ float:left; width:20px;} 

/*input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, textarea:focus, select:focus{background: #fff3f9; border:1px solid #f9c8df;}
input[type="text"]:hover, input[type="password"]:hover, input[type="file"]:hover, textarea:hover, select:hover{background: #fff3f9;border:1px solid #f9c8df;}
*/
.my-account-left{ width:23%; padding-right:3%; float:left; margin-top:25px; border-right:1px dashed #ccc;}
.my-account-left ul.my-account-Rnav{ margin:0; padding:0;}
.my-account-left ul.my-account-Rnav li{ margin:0; padding:0px 0; list-style:none;}
.my-account-left ul.my-account-Rnav li a{ margin:0; padding:8px 15px; display:block; font-size:13px; color:#000; text-decoration:none; border:1px solid #fff; }
.my-account-left ul.my-account-Rnav li a:hover{ margin:0; padding:8px 15px; display:block; font-size:13px; color:#000; text-decoration:none; border:1px solid #ccc;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
.my-account-left ul.my-account-Rnav li.active a{ margin:0; padding:8px 15px; display:block; font-size:13px; color:#FFF; border:1px solid #d5126b;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;background: #f7398f; /* Old browsers */
background: -moz-linear-gradient(top,  #f7398f 2%, #e2277c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#f7398f), color-stop(100%,#e2277c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f7398f 2%,#e2277c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f7398f 2%,#e2277c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f7398f 2%,#e2277c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f7398f 2%,#e2277c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7398f', endColorstr='#e2277c',GradientType=0 ); /* IE6-9 */

}

/* Table Data */

.table-data{background:url(../img/box2_bbg.jpg) bottom center no-repeat; padding-bottom:17px;}
.table-data ul{border:1px solid #e2e2e2;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; border-bottom:0px; padding:0; width:99%; margin:10px 0;}
.table-data ul li{ overflow:hidden;}
.t-head{ background: url(../img/t-bg.jpg) #eee; padding:8px 5px; font-weight:bold;}
.t-data{ padding:7px 5px; border-bottom:1px solid #e2e2e2;}
.t-data:hover{ background:#f2f2f2;}
.table-data img{ vertical-align:middle;}
.t-c1{ width:30%; float:left;}
.t-c2{ width:60%; float:left;}
.t-c3{ width:10%; float:left;}

.w150{ width:150px !important; }

/* Referral System */
.refer-sys{ margin:0 auto;margin-top:75px;padding-bottom:60px;margin-bottom:35px;}
.refer-sys-pad{ margin:0 auto; width:722px;}
.refer-sys h1{font:normal 27px  Arial, Helvetica, sans-serif; color:#de006d;}
.refer-sys .refer-sys-pad h2{ font:normal !important;}
.refer-sys p{font:normal 12px  Arial, Helvetica, sans-serif; color:#5d6163;line-height:18px; }
.share-box{ border-bottom:1px solid #CCC; padding:50px 0 25px 0; overflow:hidden; margin-bottom:60px;} 
.share-box-left{ float:left; width:45%; border-right:1px solid #CCC;}
.share-box-left a{ background:url(../img/f.jpg) no-repeat; width:57px; height:57px; display:inline-block; text-indent:-9999px; margin:0 auto 0 90px;}
.share-box-right{ float:right; width:45%;}
.share-box-right a{ font-size:12px;}

.refer-sys ul{ background:none;margin-top:20px; padding-left:20px;}
.refer-sys li{ overflow:hidden;padding-bottom:15px;}
.refer-sys label{ font:normal 13px Arial, Helvetica, sans-serif; width:204px; padding-right:20px;float:left;line-height:33px; text-align:right; }
.refer-sys span{ float:left;}
.f11{ font-size:11px !important;}
.refer-sys textarea{ background:url(../img/form-bg.jpg) top repeat-x; height:89px;border:1px solid #dadada; width:400px;padding-left:5px;}

input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, textarea:focus, select:focus{background: #fff3f9; border:1px solid #f9c8df;}
input[type="text"]:hover, input[type="password"]:hover, input[type="file"]:hover, textarea:hover, select:hover{background: #fff3f9;border:1px solid #f9c8df;}

.but6{background:url("../img/but2.jpg") no-repeat left top;color: #FFFFFF;display: block;font-family: Arial, Helvetica, sans-serif;font-size: 13px;height: 27px;   line-height: 25px; width: 65px;text-decoration:none;text-align:center; border:none; font-weight:bold; cursor:pointer;}
.but6:hover{background:url("../img/but2.jpg") no-repeat left -27px;height:27px;text-decoration:none;color:#000; width: 65px;}
.gray{ color: #666;}

.subs-box ul{ margin:0; padding:25px;}
.subs-box ul li{ margin:5px 0; padding:10px; background:#f9f6f3;list-style:none; overflow:hidden; border:1px solid #e6dcd3;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.subs-box ul li:hover{ margin:5px 0; padding:10px; background:#fff; list-style:none; overflow:hidden; border:1px solid #e6dcd3;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.subs-box ul li span{float:left;}

.subs-box ul li label{ padding-left:10px; float:left; width:92%;}
.subs-box ul li input[type="radio"]{ vertical-align:top; float:left;}
.subs-box h3{ padding:5px 25px;}
.subs-box .paypal{padding:5px 25px;}
.a-right{ text-align:right !important; }
/* subscription 2 System */
.subscribe2{ margin:0 auto;margin-top:75px;padding-bottom:60px;margin-bottom:35px;}
.subscribe2-pad{ margin:0 auto; width:820px; font-size:12px; }
.subscribe2 h1{font:normal 27px  Arial, Helvetica, sans-serif; color:#de006d; margin-bottom:10px;}
.subscribe2-pad p{ padding:8px 0;}
/* subscription 2 Table Data */
.subscribe2 .table-data{  background:url(../img/subscribe_table-bg.jpg) bottom center no-repeat; padding-bottom:27px; color:#000; margin:25px 0;}
.subscribe2 .table-data ul{border:0px solid #e2e2e2; border-radius:0; border-bottom:0px; background:#f9f6f3; padding-bottom:20px; }
.subscribe2 .t-head{ background: url(../img/t-bg.jpg) #e6dcd3; padding:12px 30px; overflow:visible; font-weight:bold;background: #e6dcd3; /* Old browsers */
background: -moz-linear-gradient(top,  #f2ede8 0%, #e6dcd3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2ede8), color-stop(100%,#e6dcd3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2ede8 0%,#e6dcd3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2ede8 0%,#e6dcd3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2ede8 0%,#e6dcd3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2ede8 0%,#e6dcd3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ede8', endColorstr='#e6dcd3',GradientType=0 ); /* IE6-9 */

}
.subscribe2 .t-data{ padding:12px 10px; margin:0 20px; border-bottom:1px solid #e6dcd3; background:#f9f6f3;overflow:visible; }
.subscribe2 .t-data:hover{ background:#f3ede8;}

.subscribe2 .t-c1{ width:23%; float:left; }
.subscribe2 .t-c2{ width:22%; float:left;}
.subscribe2 .t-c3{ width:20%; float:left;}
.subscribe2 .t-c4{ width:25%; float:left;}
.subscribe2 .t-c5{ width:10%; float:left; text-align:center;}
.subscribe2 .t-c5 .but6 { display:inline-block;}

.subscribe2 .t-data .t-c1, .subscribe2 .t-data .t-c2, .subscribe2 .t-data .t-c3, .subscribe2 .t-data .t-c4{ padding-top:7px;}


/*Subscription Checkout*/
.subs-checkout{margin:auto;margin-top:25px;padding-bottom:60px;margin-bottom:35px; overflow:hidden; color:#241F20}
.subs-checkout h1{ font-size:27px; font-weight:normal; border-bottom:1px solid #e8e8e8;}
.subs-checkout h2{ font-size:18px; font-weight:normal; border-bottom:1px dashed #ccc; color:#E2277C; margin-bottom:10px;}

.subs-checkout-left{ width:35%; padding-right:5%; float:left; margin-top:25px; border-right:1px solid #e8e8e8;}
.subs-checkout-left ul{margin:0; padding:0 0 20px 0;}
.subs-checkout-left ul li{ list-style:none; overflow:hidden; margin:0; padding:0 0 10px 0;}
.subs-checkout-left ul li label{ float:left; width:32%; font-weight:bold; padding:0; margin:0; line-height:18px; }
.subs-checkout-left ul li span{ float:left; width:65%; font-size:12px; line-height:18px;}

.subs-checkout-right{ width:52%; margin-top:25px; padding-left:5%; float:left; font-size:12px; color:#241F20;}
.subs-checkout-right ul{ margin:0 0 0px 0; padding:0 0 0px 0; overflow:hidden;}
.subs-checkout-right ul li{ margin:0; padding:5px 0; list-style:none; overflow:hidden;}
.subs-checkout input[type="text"]:focus, .subs-checkout input[type="password"]:focus, .subs-checkout input[type="file"]:focus, .subs-checkout textarea:focus, .subs-checkout select:focus{background: #fff3f9; border:1px solid #f9c8df;}
.subs-checkout input[type="text"]:hover, .subs-checkout input[type="password"]:hover, .subs-checkout input[type="file"]:hover, .subs-checkout textarea:hover, .subs-checkout select:hover{background: #fff3f9;border:1px solid #f9c8df;}
.subs-checkout label{ font:normal 13px Arial, Helvetica, sans-serif; width:150px;float:left;line-height:33px; }
.subs-checkout input[type="text"]{ background:url(../img/form-bg.jpg) repeat; height:29px;border:1px solid #dadada; width:300px;padding-left:5px;}
.subs-checkout input[type="password"]{ background:url(../img/form-bg.jpg) repeat; height:29px;border:1px solid #dadada; width:240px;padding-left:5px;}
.subs-checkout select{ background:url(../img/form-bg.jpg) repeat; border:1px solid #dadada; width:306px;padding:5px 2px 5px 5px;}
.subs-checkout textarea{ background:url(../img/form-bg.jpg) repeat-x; height:120px;border:1px solid #dadada; width:300px;padding-left:5px;}

/* developer css style */
/*

form.normal-form div.select select, form.normal-form div.text input,  form.normal-form div.password input {
    background: url("../img/form-bg.jpg") repeat scroll 0 0 transparent;
    border: 1px solid #DADADA;
    height: 29px;
    padding-left: 5px;
    width: 300px;
}
form.normal-form div.textarea textarea {
    border: 1px solid #DADADA;
    height: 116px;
    padding-left: 5px;
    width: 300px;
}

form.normal-form select {
    background: url("../img/form-bg.jpg") repeat scroll 0 0 transparent;
    border: 1px solid #DADADA;
    padding: 5px 2px 5px 5px;
    width: 306px;
}*/
form.normal-form select#UserProfileDobDay,form.normal-form select#UserProfileDobMonth, form.normal-form select#UserProfileDobYear {
    width: 100px;
}
 form.normal-form span.info, span.help {
    background: url("../img/icon-info.png") no-repeat scroll left 4px transparent;
    color: #AFAFAF;
    display: block;
    font-size: 11px;
    margin-left: 205px;
    padding: 3px 2px 4px 20px;
}


form.normal-form div.error-message {
    background: url("../img/icon-form-error.png") no-repeat scroll left center transparent;
    color: #FF0066;
    font-size: 12px;
    margin: 5px 0 0 200px;
    padding: 0 0 0 20px;
    text-align: left;
}
 span .btn3{
   background: -moz-linear-gradient(center top , #F7398F 2%, #E2277C 100%) repeat scroll 0 0 transparent;
    border: 1px solid #D5126B;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    margin: 0;
    padding: 8px 15px;
}

.my-account-right table.list {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 5px auto;
    width: 100%;

}
.my-account-right table.list, .my-account-right table.list td, .my-account-right table.list th {
    border: 0px solid #E2E2E2;

}
.my-account-right table.list, .my-account-right table.list td, .my-account-right table.list th.left-cur {
 -webkit-border-top-left-radius: 5px;
-moz-border-radius-topleft: 5px;
border-top-left-radius: 5px;

}
.my-account-right table.list, .my-account-right table.list td, .my-account-right table.list th.right-cur {
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topright: 5px;
border-top-right-radius: 5px;

}


.my-account-right table.list th {
    background:#E6DCD3 ;
    color: #241F20;
	 padding: 15px 10px;

}
.my-account-right table.list td {
    background-color: #fff !important;
    border-width: 1px;
    font-size: 12px;
    margin: 0;
    padding:12px 9px;
    text-align: center;
    vertical-align: middle;
	border-bottom: 1px  dashed #E6DCD3 !important;
	
}
.my-account-right table.list tr:hover td {
    background-color: #F9F6F3 !important;
   
}

.my-account-right table.list th a {
    color: #241F20;
}
/*.my-account-right table.list tr.altrow td {
    background-color: #fff; border-bottom: 1px solid #E2E2E2;
}
.my-account-right table.list tr:hover td{background-color:#fff; border-bottom: 1px solid #E2E2E2;}
*/
.my-account-right table.list td, .my-account-right table.list th {
    border: 0 none;
}
.my-account-right .btn5 {
    background: -moz-linear-gradient(center top , #F7398F 2%, #E2277C 100%) repeat scroll 0 0 transparent;
    border: 1px solid #D5126B;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    margin: 0;
    padding: 8px 15px;
	text-align: center;
}
.my-account-right span a:hover{
text-decoration:none !important;
}
.refer-sys .refer-url-code{
	height:30px;
	width:280px;
}
/*
.refer-sys form.refer-form div.textarea textarea{ background:url(../img/form-bg.jpg) top repeat-x; height:89px;border:1px solid #dadada; width:400px;padding-left:5px;}*/
form.refer-form  span.info, span.help {
    background: url("../img/icon-info.png") no-repeat scroll left 4px transparent;
    color: #AFAFAF;
    display: block;
    font-size: 11px;
    margin-left: 220px;
    padding: 3px 2px 4px 20px;
}
form.refer-form div.error-message {
    background: url("../img/icon-form-error.png") no-repeat scroll left center transparent;
    color: #FF0066;
    font-size: 12px;
    margin: 5px 0 0 220px;
    padding: 0 0 0 20px;
    text-align: left;
}
.f-rightbtn{
float:right;
margin-left:10px;
}
/* developer css style ends */


.purchase-conf{ padding:25px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border:1px solid #ccc; margin:20px auto; width:60%;}
.purchase-conf h1{ font-size:26px; border-bottom:1px solid #ccc; margin-bottom:15px;}
.purchase-conf p{padding:8px 0; font-size:13px;}
.but7{background:url("../img/but1.jpg") no-repeat left top; cursor: pointer;color:#FFF; border:none;display:block; font-family:Arial,Helvetica,sans-serif; font-size:12px; height:27px;   line-height:25px; width:135px; text-decoration:none; text-align:center}
.but7:hover{background:url("../img/but1.jpg") no-repeat left -27px; height:27px; text-decoration:none; color:#000; width:135px}
#paypalid{padding-left:150px;}
#paypalid label{float:none;width:120px;display:inline-block}
.next-btn{ padding-top:15px;}
.pay-logo{-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border:1px solid #ccc; padding:10px; margin-top:20px;}
.pay-logo img{padding:3px;}
.pay-logo div{padding-bottom:0px;}