.brand-right ul li a{margin:0px; padding:0; list-style:none;display:inline-block;border:1px solid #b5b5b5; width:175px; height:175px; text-align:center;vertical-align: middle;}


.brand-right ul li a {display:table; height: 175px; position: relative; overflow: hidden; }
.brand-right ul li a img {*position: absolute; top: 30%; left:8%; display: table-cell; vertical-align: middle;}
